//*mixins*//
@import "./mixin.scss";

.about__row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   &--text {
      width: 40%;
      height: 100%;
      h2 {
         font-weight: 600;
         color: $black;
         font-size: 3rem;
         font-family: $font-primary;
         margin-bottom: 1.5rem;
         @include mobile{
            font-size: 2rem;
         }
      }
      p {
         font-weight: 400;
         color: $black;
         font-size: 1.6rem;
         font-family: $font-secondary;
         margin-bottom: 1rem;
         &:last-child {
            margin-bottom: 0;
         }
      }
      @include notebook{
         width: 45%;
      }
      @include tablet{
         width: 80%;
         margin-bottom: 2rem;
      }
      @include mobile{
         width: 90%;
      }
      @include mobile-sm{
         width: 100%;
      }
   }
   &--img {
      width: 45%;
      position: relative;
      &::before {
         content: "";
         display: block;
         width: 35%;
         height: 8rem;
         background-color: $main-color-one;
         position: absolute;
         z-index: 1;
         top: -3rem;
         right: -3rem;
         @include notebook{
            display: none;
         }
      }
      &::after {
         content: "";
         display: block;
         width: 35%;
         height: 8rem;
         background-color: $main-color-one;
         position: absolute;
         z-index: 1;
         bottom: -3rem;
         left: -3rem;
         @include notebook{
            display: none;
         }
      }
      img {
         position: relative;
         z-index: 2;
         top: 0;
         left: 0;
         animation-name: zoom;
         animation-duration: 5s;
         animation-timing-function: ease-in-out;
         animation-delay: 2s;
         animation-iteration-count: infinite;
         animation-direction: alternate;
      }
      @include tablet{
         width: 80%;
      }
      @include mobile{
         width: 90%;
      }
      @include mobile-sm{
         width: 100%;
      }
   }
   &--iWraper {
      overflow: hidden;
   }
   @include tablet{
      justify-content: center;
      flex-wrap: wrap;
   }
}
@keyframes zoom {
   0%{
      transform: scale(1);
   }
   50%{
      transform: scale(1.15);
   }
   100%{
      transform: scale(1.3);
   }
}