//*mixins*//
@import "./mixin.scss";

.page__contact {
   &--title {
      text-align: center;
      margin-bottom: 6rem;
      h3 {
         font-family: $font-primary;
         font-weight: 600;
         font-size: 3rem;
         color: $black;
         @include tablet {
            font-size: 2.5rem;
         }
         @include mobile {
            font-size: 2rem;
         }
      }
      @include tablet {
         margin-bottom: 4rem;
      }
      @include mobile {
         margin-bottom: 2rem;
      }
   }
   &--form {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      @include tablet {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   &--line {
      margin-top: 6rem;
      hr {
         margin: 0;
         width: 100%;
         height: 1px;
         border: none;
         border-color: transparent;
         background-color: $secondary-color-two;
      }
      @include tablet {
         margin-top: 4rem;
      }
      @include mobile {
         margin-top: 2rem;
      }
   }
}
.contact__form {
   width: 40%;
   &--block {
      width: 100%;
      position: relative;
      margin-bottom: 4.5rem;
      i {
         position: absolute;
         bottom: 0;
         left: 0;
         font-size: 2.5rem;
         color: $secondary-color-two;
      }
      input {
         font-weight: 600;
         font-size: 1.8rem;
         color: $black;
         font-family: $font-secondary;
         position: absolute;
         bottom: 0;
         right: 0;
         width: 93%;
         height: 3.5rem;
         border: none;
         background-color: transparent;
         border-bottom: 1px solid $main-color-one;
         &:focus {
            outline: none;
            border-bottom-color: $secondary-color-two;
         }
         @include mobile {
            font-size: 1.6rem;
         }
      }
      label {
         position: relative;
         top: -1rem;
         left: 9%;
         font-size: 1.6rem;
         font-weight: 400;
         color: $black;
         font-family: $font-secondary;
         transition: font-size 0.1s linear, top 0.1s linear;
      }
      textarea {
         font-weight: 600;
         font-size: 1.8rem;
         color: $black;
         font-family: $font-secondary;
         position: absolute;
         bottom: 0;
         right: 0;
         width: 93%;
         height: 4rem;
         border: none;
         background-color: transparent;
         border-bottom: 1px solid $main-color-one;
         resize: none;
         &:focus {
            outline: none;
            border-bottom-color: $secondary-color-two;
         }
         @include mobile {
            font-size: 1.6rem;
         }
      }
      @include mobile {
         margin-bottom: 3.5rem;
      }
   }
   &--button {
      margin-bottom: 1.5rem;
      button {
         border: none;
         background-color: transparent;
         font-family: $font-secondary;
         font-size: 1.7rem;
         color: $black;
         font-weight: 400;
         margin: 0;
         padding: 1.5rem;
         background-color: $secondary-color;
         border-bottom-left-radius: 2rem;
         border-top-right-radius: 2rem;
         border: 1px solid $main-color-one;
         transition: background-color 0.2s linear;
         i {
            margin-left: 0.5rem;
         }
         &:hover {
            background-color: $main-color-one;
            cursor: pointer;
         }
         &:active {
            transform: scale(0.95);
         }
      }
      @include tablet {
         margin-bottom: 1rem;
      }
   }
   @include tablet {
      width: 70%;
   }
   @include mobile {
      width: 90%;
   }
   @include mobile-sm {
      width: 100%;
   }
}
.contact__block {
   width: 40%;
   &--line {
      display: flex;
      align-items: flex-start;
      margin-bottom: 3rem;
      &:last-child {
         margin-bottom: 0;
      }
      i {
         font-size: 2rem;
         margin-right: 1rem;
         color: $secondary-color-two;
      }
      span {
         font-family: $font-secondary;
         color: $black;
         font-size: 1.8rem;
         font-weight: 400;
         @include mobile {
            font-size: 1.6rem;
         }
      }
      @include mobile {
         margin-bottom: 2rem;
      }
   }
   @include tablet {
      width: 70%;
   }
   @include mobile {
      width: 90%;
   }
   @include mobile-sm {
      width: 100%;
   }
}
.error__text {
   width: 100%;
   height: 2.2rem;
   font-family: $font-secondary;
   font-weight: 600;
   font-size: 1.6rem;
   color: $secondary-color-two;
   @include tablet {
      margin-bottom: 1rem;
   }
}
#name:focus ~ label[for="name"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#email:focus ~ label[for="email"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#phone:focus ~ label[for="phone"] {
   font-size: 1.2rem;
   top: -2.7rem;
}
#message:focus ~ label[for="message"] {
   font-size: 1.2rem;
   top: -3.5rem;
}
