//*mixins*//
@import "./mixin.scss";

.gallery__row{
   h2{
      font-weight: 600;
      color: $black;
      font-size: 3rem;
      font-family: $font-secondary;
      margin-bottom: 2rem;
      @include mobile{
         font-size: 2rem;
      }
   }
}
.gallery__slider{
   a{
      opacity: 0.7;
      transition: opacity 0.3s linear;
      &:hover{
         opacity: 1;
      }
   }
}