//*mixins*//
@import "./mixin.scss";

.intro {
   width: 100%;
   height: calc(100vh - 8rem);
   background-color: $secondary-color;
   position: relative;
}
.intro__row {
   width: 100%;
   height: calc(100vh - 8rem);
   position: relative;
   display: flex;
   align-items: center;
}
.intro__slider {
   position: absolute;
   right: 0;
   z-index: 2;
   width: 90%;
}
.intro__content {
   width: 40%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   p {
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 2rem;
      color: $black;
   }
}
.main__title {
   text-transform: uppercase;
   font-family: $font-primary;
   font-size: 10rem;
   font-weight: 700;
   letter-spacing: 0.8rem;
   color: $black;
   background: url("../../img/intro/7.JPG") no-repeat center;
   background-size: cover;
   mix-blend-mode: lighten;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 2rem;
}
.main__suptitle {
   font-family: $font-primary;
   font-weight: 600;
   font-size: 4rem;
   height: 6rem;
   color: $secondary-color-two;
   margin-bottom: 2rem;
}
.intro__scroll {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
   margin-bottom: 1rem;
   width: 3.8rem;
   height: 10rem;
   span {
      display: block;
      width: 3rem;
      height: 3rem;
      border-bottom: 0.4rem solid $secondary-color-two;
      border-right: 0.4rem solid $secondary-color-two;
      transform: rotate(45deg);
      margin: -1.6rem 0;
      animation: btnScroll 2s infinite;
      &:nth-child(2) {
         animation-delay: -0.2s;
      }
      &:nth-child(3) {
         animation-delay: -0.4s;
      }
      &:nth-child(4) {
         animation-delay: -0.6s;
      }
   }
   &:hover {
      cursor: pointer;
   }
}
.intro__asside {
   position: absolute;
   width: 0;
   height: 0;
   right: 2%;
   bottom: 50%;
   z-index: 2;
}
.social__menu {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   transform: rotate(90deg);
   li {
      margin-right: 2rem;
      &:last-child {
         margin-right: 0;
      }
      a {
         text-decoration: none;
         font-weight: 400;
         color: $black;
         font-size: 1.7rem;
         font-family: $font-secondary;
         transition: color 0.3s linear;
      }
      &:hover {
         a {
            color: $secondary-color-two;
         }
      }
   }
}
@keyframes btnScroll {
   0% {
      opacity: 0;
      transform: translate(0, -2rem) rotate(45deg);
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      transform: translate(0, 2rem) rotate(45deg);
   }
}
