//*mixins*//
@import "./mixin.scss";

.progress__block{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1200;
   width: 0;
   height: 2px;
   transition: width 0.1s linear;
}
.load__line{
   width: 100%;
   height: 100%;
   background: rgb(249,239,237);
   background: linear-gradient(90deg, rgba(249,239,237,1) 0%, rgba(235,195,188,1) 35%, rgba(193,141,122,1) 100%);
}