//*mixins*//
@import "./mixin.scss";

.page__gallery {
   &--title {
      text-align: center;
      margin-bottom: 3.5rem;
      h3 {
         font-family: $font-secondary;
         font-weight: 600;
         font-size: 3rem;
         color: $black;
         @include tablet {
            font-size: 2rem;
         }
      }
      @include tablet {
         margin-bottom: 2rem;
      }
   }
   &--row {
      width: 100%;
   }
   &--button{
      display: none;
      text-align: center;
      margin-top: 6rem;
      button{
         border: none;
         background-color: transparent;
         font-family: $font-secondary;
         font-size: 1.7rem;
         color: $black;
         font-weight: 400;
         margin: 0;
         padding: 1.5rem;
         background-color: $secondary-color;
         border-bottom-left-radius: 2rem;
         border-top-right-radius: 2rem;
         border: 1px solid $main-color-one;
         transition: background-color 0.2s linear;
         i {
            margin-left: 0.5rem;
         }
         &:hover {
            background-color: $main-color-one;
            cursor: pointer;
         }
         &:active {
            transform: scale(0.95);
         }
      }
      @include tablet {
         margin-top: 4rem;
      }
      @include mobile {
         display: block;
         margin-top: 2rem;
      }
   }
   &--line {
      margin-top: 6rem;
      hr {
         margin: 0;
         width: 100%;
         height: 1px;
         border: none;
         border-color: transparent;
         background-color: $secondary-color-two;
      }
      @include tablet {
         margin-top: 4rem;
      }
      @include mobile {
         margin-top: 2rem;
      }
   }
}
.box__gallery {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
   a {
      display: block;
      width: 25%;
      position: relative;
      text-decoration: none;
      overflow: hidden;
      border: 4px solid $secondary-color;
      transition: opacity 0.3s linear;
      img {
         transition: transform 0.3s linear;
      }
      &::after {
         content: "";
         background: transparent url(../img/gallery__page/eye-icon.png) no-repeat center;
         position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.3s linear, visibility 0.3s linear;
      }
      &:hover {
         opacity: 0.7;
         img {
            transform: scale(1.1);
         }
         &::after {
            opacity: 1;
            visibility: visible;
         }
      }
      @include mobile{
         width: 50%;
      }
      @include mobile-sm{
         width: 100%;
      }
   }
}
.gallery__img--title {
   font-family: $font-secondary;
   font-weight: 600;
}
