/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
html {
    font-size: 10px;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a:focus {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*header*/
.header {
    background-color: #F9EFED;
    width: 100%;
    transition: background-color 0.4s linear;
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    background-color: #BD6F51;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
}

.navbar__brand {
    width: 15%;
}

.navbar__menu {
    width: 85%;
}

.main__menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main__menu--item {
    padding: 1rem 0.5rem;
    margin-left: 3rem;
    position: relative;
}

.main__menu--item:first-child {
    margin-left: 0;
}

.main__menu--item::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: calc(50% - 0.4rem);
    width: 0.8rem;
    height: 0.8rem;
    background-color: #C18D7A;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

.main__menu--item:hover {
    cursor: pointer;
}

.main__menu--item:hover::before {
    opacity: 1;
    visibility: visible;
}

.main__menu--item:hover a {
    color: #C18D7A;
}

.main__menu--link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif;
    transition: color 0.3s linear;
}

/*intro*/
.intro {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: #F9EFED;
    position: relative;
}

.intro__row {
    width: 100%;
    height: calc(100vh - 8rem);
  /*overflow: hidden;*/
    display: table;
    padding: 3rem 0;
  /*display: flex;
   justify-content: center;
   align-items: center;*/
}

.intro__slider {
    display: table-cell;
    vertical-align: middle;
}

.intro__slider--item {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.intro__slider--content {
    width: 45%;
}

.intro__slider--content h2 {
    font-weight: 600;
    color: #000000;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1.5rem;
}

.intro__slider--content p {
    font-weight: 600;
    color: #000000;
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif;
}

.intro__slider--img {
  /*width: 70%;*/
    margin-left: 3rem;
}

.main__title {
    font-weight: 700;
    color: #000000;
    font-size: 5.5rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1.5rem;
}

.intro__asside {
    position: absolute;
    width: 0;
    height: 0;
    right: 2%;
    bottom: 50%;
    z-index: 1;
}

.social__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    transform: rotate(90deg);
}

.social__menu li {
    margin-right: 2rem;
}

.social__menu li:last-child {
    margin-right: 0;
}

.social__menu li a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    font-size: 1.7rem;
    font-family: "Quicksand", sans-serif;
    transition: color 0.3s linear;
}

.social__menu li:hover a {
    color: #C18D7A;
}

/*about*/
.about {
    position: relative;
}

.aside__buttons {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    margin-left: 96%;
    width: 4.9rem;
    top: 6rem;
    right: 2%;
    z-index: 15;
    background-color: #F9EFED;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.aside__buttons a {
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    border-bottom: 1px solid;
    border-bottom-color: rgba(189, 111, 81, 0.3);
}

.aside__buttons a i {
    color: rgba(189, 111, 81, 0.5);
    transition: color 0.2s linear;
}

.aside__buttons a:hover i {
    color: #bd6f51;
}

.aside__buttons a:last-child {
    border-bottom: 0;
    border-bottom-color: transparent;
}

.about__row {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__row--text {
    width: 40%;
    height: 100%;
}

.about__row--text h2 {
    font-weight: 600;
    color: #000000;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1.5rem;
}

.about__row--text p {
    font-weight: 400;
    color: #000000;
    font-size: 1.6rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
}

.about__row--text p:last-child {
    margin-bottom: 0;
}

.about__row--img {
    width: 45%;
    height: 100%;
    position: relative;
}

.about__row--img::before {
    content: "";
    display: block;
    width: 35%;
    height: 8rem;
    background-color: #BD6F51;
    position: absolute;
    z-index: 1;
    top: -3rem;
    right: -3rem;
}

.about__row--img::after {
    content: "";
    display: block;
    width: 35%;
    height: 8rem;
    background-color: #BD6F51;
    position: absolute;
    z-index: 1;
    bottom: -3rem;
    left: -3rem;
}

.about__row--img img {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}

/*services*/
.services__row {
    position: relative;
    width: 100%;
    height: 58rem;
}

.services__col h2 {
    font-weight: 600;
    color: #000000;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
}

.services__col--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
}

.services__col--text {
    padding: 5rem 2rem 3rem 4rem;
    position: absolute;
    top: 8rem;
    right: 0;
    width: 60%;
    background-color: #F9EFED;
}

.services__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.services__text--col {
    width: 43%;
    margin-top: 2rem;
}

.text__icon {
    float: left;
    margin-right: 1rem;
}

.text__data h3 {
    font-weight: 600;
    color: #000000;
    font-size: 1.8rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 0.8rem;
}

.text__data p {
    font-weight: 400;
    color: #000000;
    font-size: 1.4rem;
    font-family: "Quicksand", sans-serif;
}

/*gallery*/
.gallery__row h2 {
    font-weight: 600;
    color: #000000;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2rem;
}

.gallery__slider a {
    opacity: 0.7;
    transition: opacity 0.3s linear;
}

.gallery__slider a:hover {
    opacity: 1;
}

/*footer*/
.footer__social {
    background-color: rgba(189, 111, 81, 0.7);
    padding: 1.5rem 0;
}

.footer__social--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social--content h4 {
    font-weight: 600;
    color: #000000;
    font-size: 1.7rem;
    font-family: "Quicksand", sans-serif;
}

.social__link a {
    text-decoration: none;
    margin-right: 1rem;
    display: inline-block;
    padding: 0.5rem;
    transition: background-color 0.3s linear;
}

.social__link a:last-child {
    margin-right: 0;
}

.social__link a i {
    color: #ffffff;
    font-size: 1.7rem;
    transition: color 0.3s linear;
}

.social__link a:hover {
    cursor: pointer;
    background-color: #ffffff;
}

.social__link a:hover i {
    color: #BD6F51;
}

.footer__collum {
    width: 100%;
    padding: 2.5rem 0;
    background-color: #F9EFED;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__col {
    width: 20%;
}

.footer__col h3 {
    font-weight: 600;
    color: #000000;
    font-size: 1.7rem;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 1rem;
}

.footer__col hr {
    width: 60%;
    color: #BD6F51;
    background-color: #BD6F51;
    border: 0px none;
    height: 1px;
    margin: 0;
    display: inline-block;
    margin-bottom: 1rem;
}

.footer__col--brand p {
    font-weight: 400;
    color: #000000;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
}

.footer__col--brand p:last-child {
    margin-bottom: 0;
    background-color: rgba(189, 111, 81, 0.7);
    padding: 0.1rem;
}

.footer__col--contact a {
    text-decoration: none;
    display: block;
    font-weight: 400;
    color: #000000;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
    padding: 0.3rem;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.footer__col--contact a i {
    margin-right: 1.6rem;
    font-size: 1.6rem;
}

.footer__col--contact a:last-child {
    margin-bottom: 0;
}

.footer__col--contact a:hover {
    cursor: pointer;
    background-color: rgba(189, 111, 81, 0.7);
    color: #F9EFED;
}

/*==============vendor=============*/
/*lightbox gallery*/
body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #F9EFED;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.9;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 5px;
    border: 2px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../img/lighbox/images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/lighbox/images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/lighbox/images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/lighbox/images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/*slickslider*/
.slick-slider {
    position: relative;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.slick-track {
    margin-left: 1rem;
}

.slick-slide {
    margin-right: 2rem;
    float: left;
    height: auto;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-slide:focus {
    outline: none;
}

.slick-arrow {
    position: absolute;
    z-index: 15;
    font-size: 0;
    color: transparent;
    border: none;
    background-color: transparent;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev {
    top: calc(50% - 1.5rem);
    left: -2.5rem;
    width: 3rem;
    height: 3rem;
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: rgba(193, 141, 122, 0.6);
    transform: rotate(-45deg);
    transition: border-color 0.2s linear;
}

.slick-prev:hover {
    cursor: pointer;
    border-color: #c18d7a;
}

.slick-next {
    top: calc(50% - 1.5rem);
    right: -2.5rem;
    width: 3rem;
    height: 3rem;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: rgba(193, 141, 122, 0.6);
    transform: rotate(45deg);
    transition: border-color 0.2s linear;
}

.slick-next:hover {
    cursor: pointer;
    border-color: #c18d7a;
}

.slick-dots {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    margin-right: 0.8rem;
}

.slick-dots li:last-child {
    margin-right: 0;
}

.slick-dots li button {
    font-size: 0;
    color: transparent;
    border: none;
    background-color: transparent;
    line-height: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-color: rgba(193, 141, 122, 0.6);
    border-radius: 50%;
    transition: border-color 0.2s linear, background-color 0.2s linear;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-dots li:hover {
    cursor: pointer;
}

.slick-dots li:hover button {
    cursor: pointer;
    border-color: #c18d7a;
    background-color: #C18D7A;
}

.slick-dots .slick-active button {
    border-color: #c18d7a;
    background-color: #C18D7A;
}

/*waves effect*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    transition: all 0.5s ease-out;
    transition-property: transform, opacity;
    transform: scale(0) translate(0, 0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: radial-gradient(rgba(228, 163, 163, 0.2) 0, rgba(218, 157, 157, 0.3) 40%, rgba(61, 59, 59, 0.4) 50%, rgba(148, 69, 69, 0.5) 60%, rgba(252, 237, 237, 0.404) 70%);
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
    transition: none  !important;
}

.waves-button,
.waves-circle {
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.waves-button {
    padding: 0.85em 1.1em;
    border-radius: 0.2em;
}

.waves-button-input {
    margin: 0;
    padding: 0.85em 1.1em;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
    padding: 0;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
}

.waves-float {
    -webkit-mask-image: none;
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    transition: all 300ms;
}

.waves-float:active {
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
    display: block;
}
